.softBtn { 
  position: relative;    
  overflow: hidden; 
  isolation: isolate;          

  min-width: 280px;
  height: 70px;
  border-radius: 22px;

  background: linear-gradient(
    135deg,
    #C7E0F1 3%,
    #FAEEE4 29%,
    #DFCADA 56%,
    #C6B8DD 78%,
    #A7A9DE 100%
    
  );

  border: 3px solid #B6B0D6;

  box-shadow:
    0 10px 18px rgba(0,0,0,0.25),
    inset 0 2px 0 rgba(255,255,255,0.7);


  font-family: 'Antique Olive Std Roman', sans-serif;
  font-size: 18px;
  font-weight: 1000;
  color: #111;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}


.softBtn::before{
  content:"";
  position:absolute;
  inset: 10px;
  border-radius: 16px;
  pointer-events: none;

  box-shadow:
    inset 0 8px 14px rgba(0,0,0,.35),
    inset 0 -6px 10px rgba(255,255,255,.35);

  background: rgba(255,255,255,.10);
}

/* highlight */
.softBtn::after{
  content:"";
  position:absolute;
  left: 14px;
  right: 14px;
  top: 12px;
  height: 22px;
  border-radius: 14px;
  pointer-events: none;

  background: linear-gradient(to bottom, rgba(255,255,255,.55), rgba(255,255,255,0));
}

.softBtn__label{
  position: relative;
  z-index: 1;
}
