@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700&display=swap");

@font-face {
  font-family: "Ethnocentric";
  src: url("./assets/fonts/ethnocentric/Ethnocentric-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Antique Olive Std Compact';
    font-style: normal;
    font-weight: normal;
    src: local('Antique Olive Std Compact'), url('./assets/fonts/antique-olive/Antique-Olive-Std-Compact_3864.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Antique Olive Std Roman';
    font-style: normal;
    font-weight: normal;
    src: local('Antique Olive Std Roman'), url('./assets/fonts/antique-olive/Antique-Olive-Std-Roman_3869.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Antique Olive Std Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Antique Olive Std Italic'), url('./assets/fonts/antique-olive/Antique-Olive-Std-Italic_3865.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Antique Olive Std Light';
    font-style: normal;
    font-weight: normal;
    src: local('Antique Olive Std Light'), url('./assets/fonts/antique-olive/Antique-Olive-Std-Light_3866.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Antique Olive Std Bold Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('Antique Olive Std Bold Condensed'), url('./assets/fonts/antique-olive/Antique-Olive-Std-Bold-Condensed_3862.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Antique Olive Std Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Antique Olive Std Bold'), url('./assets/fonts/antique-olive/Antique-Olive-Std-Bold_3863.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Antique Olive Std Black';
    font-style: normal;
    font-weight: normal;
    src: local('Antique Olive Std Black'), url('./assets/fonts/antique-olive/Antique-Olive-Std-Black_3861.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Antique Olive Std Nord';
    font-style: normal;
    font-weight: normal;
    src: local('Antique Olive Std Nord'), url('./assets/fonts/antique-olive/Antique-Olive-Std-Nord_3868.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Antique Olive Std Nord Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Antique Olive Std Nord Italic'), url('./assets/fonts/antique-olive/Antique-Olive-Std-Nord-Italic_3867.woff') format('woff');
    }

:root {
  font-family: 'Antique Olive Std Roman', 'Antique Olive Std Light', sans-serif;
  line-height: 1.2;
  font-weight: 400;
  color: #103836;
  background-color: #d7f0ec;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: stretch;
  background: #d7f0ec;
}

#root {
  width: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Typo globale */
body, p, input, button, textarea, select, label {
  font-family: 'Antique Olive Std Roman', 'Antique Olive Std Light', sans-serif;
}

h1, h2, h3, h4, .title, .onb-title {
  font-family: "Ethnocentric", 'Antique Olive Std Bold', sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
}
