@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700&display=swap");

@font-face {
  font-family: "Ethnocentric";
  src: url("./assets/fonts/ethnocentric/Ethnocentric-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Antique Olive Std Compact';
    font-style: normal;
    font-weight: normal;
    src: local('Antique Olive Std Compact'), url('./assets/fonts/antique-olive/Antique-Olive-Std-Compact_3864.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Antique Olive Std Roman';
    font-style: normal;
    font-weight: normal;
    src: local('Antique Olive Std Roman'), url('./assets/fonts/antique-olive/Antique-Olive-Std-Roman_3869.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Antique Olive Std Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Antique Olive Std Italic'), url('./assets/fonts/antique-olive/Antique-Olive-Std-Italic_3865.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Antique Olive Std Light';
    font-style: normal;
    font-weight: normal;
    src: local('Antique Olive Std Light'), url('./assets/fonts/antique-olive/Antique-Olive-Std-Light_3866.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Antique Olive Std Bold Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('Antique Olive Std Bold Condensed'), url('./assets/fonts/antique-olive/Antique-Olive-Std-Bold-Condensed_3862.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Antique Olive Std Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Antique Olive Std Bold'), url('./assets/fonts/antique-olive/Antique-Olive-Std-Bold_3863.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Antique Olive Std Black';
    font-style: normal;
    font-weight: normal;
    src: local('Antique Olive Std Black'), url('./assets/fonts/antique-olive/Antique-Olive-Std-Black_3861.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Antique Olive Std Nord';
    font-style: normal;
    font-weight: normal;
    src: local('Antique Olive Std Nord'), url('./assets/fonts/antique-olive/Antique-Olive-Std-Nord_3868.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Antique Olive Std Nord Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Antique Olive Std Nord Italic'), url('./assets/fonts/antique-olive/Antique-Olive-Std-Nord-Italic_3867.woff') format('woff');
    }

:root {
  font-family: "Sora", "Avenir Next", "Trebuchet MS", sans-serif;
  line-height: 1.2;
  font-weight: 400;
  color: #103836;
  background-color: #d7f0ec;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: stretch;
  background: #d7f0ec;
}

#root {
  width: 100%;
}
